.setting__toggle_theme {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-radius: 14px;
}

.setting__theme__svg {
  stroke-width: 1px;
}

.setting__item {
  display: flex;
  gap: 4px;
  align-items: center;
}
