.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  height: 35px;
  width: 100%;
  -webkit-app-region: drag;
  display: flex;
  font-size: 12px;
  gap: 10px;
  input {
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 4px;
    font-size: 12px;
  }

  ul {
    display: flex;

    li {
      -webkit-app-region: none;
      cursor: pointer;
    }
  }
}

.header__input__button {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  height: 100%;
  border-top-left-radius: none;
  border-top-right-radius: none;
  border-bottom-right-radius: var(--border-radius);
}

.bookmark {
  width: 100%;
  height: 20px;
  display: flex;
}

.bookmark__title {
}

.bookmark__panel {
}

.bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.bar__tabs {
  width: 85%;
  height: 30px;
  display: flex;
}

.bar__tabs__tab {
  max-width: 50px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-app-region: none;
}

.bar__tabs__tab__span {
}

// .tabs__tab__icon {
// }

.search {
  width: 100%;
  height: 20px;
  gap: 20px;
  display: flex;
}

.header__input {
  width: 100%;
  position: relative;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: none;
  border-radius: var(--border-radius);
}

.header_input__list {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 15px;
  height: auto;
  max-height: 40vh;
  gap: 3px;
  background-color: var(--color-secondary);
  border-left: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  li {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    font-size: 16px;
  }
}

input {
  -webkit-app-region: none;
}

button {
  -webkit-app-region: none;
}

.header__add {
  width: 30px;
  height: 100%;
  border-radius: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--border-radius);
}

.header__action {
  -webkit-app-region: none;
  height: 100%;
  width: 30px;
  transition: none;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--border-radius);
}

.header__action:hover {
  fill: white;
  background-color: rgb(179, 52, 52);
}

.search__guard {
  width: 10%;
  display: flex;
  -webkit-app-region: none;
}

.search__bookmark {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: none;
}

.search__button {
  width: 50px;
  height: 100%;
  margin: 0 5px;
}

.search__actions {
  width: 100px;
  display: flex;
  gap: 3px;
  button {
    width: 30px;
    height: 30px;
    -webkit-app-region: none;
  }
}

.search__actions__after {
}

.search__actions__before {
}

.search__actions__reload {
}

.search_menu {
  -webkit-app-region: none;
  width: 30px;
  height: 30px;
}
